body {
    background: no-repeat url(../static/images/background_2.png);
    background-size: contain;
    background-color: rgba(35,35,35,0.8);
    background-position: center top;
    
}

h1 {
    width: fit-content;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    border-width: 5px;
}

h2 {
    width: fit-content;
    margin: auto;
    padding: 10px;
    border-radius: 6px;
    border-width: 3px;

}

main {
    width: 95vw;
    margin: auto;
    border-color:  rgb(50,150,250);
    border-radius: 7px;
    border-style: double;
    border-width: 4px;
}

p {
    padding-left: 5vw;
}

table {
    border-color: lime;
    border-width: 3px;
    border-style: ridge;
    border-radius: 4px;
    background-image: linear-gradient(to left bottom, darkgreen,silver,lime,grey,silver,grey,lime,silver,darkgreen);
    color:lime;
    text-shadow: green 1px 1px;
    /* text-shadow: silver 1px 1px; */
}

table th, td {
    padding: 2px 4px 2px 4px;
    border-color: lime;
    background-color: rgb(35,35,35);
    border-width: 1px;
    border-style: solid;
}

table td {
    text-align: right;
}

.hidden {
    display: none;
}

/* icon for hamburger menu */
/* .navButton {
    float: right;
    width: 138px;
    height: 138px;
    background-image: url("..static/images/navIcon.png");
    border-color: black;
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
    transform: scale(25%);
} */

.topnav {
    /* height: 22px; */
    padding-top: 5px;
    padding-bottom: 5px;
}

.allNavLinks {
    border-radius: 3px;
    border-style: ridge;
    border-color: silver;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 5px;
}

.navLink {
    padding: 2px 20px 2px 20px;
    background-image: radial-gradient(white, rgb(220,220,220), rgb(10,180,180));
}

.headers {
    border-width: 7px;
    border-color: rgb(50,150,250);
    border-style: ridge;
    background-color: rgba(250,250,230,0.7);
    text-shadow: rgb(25,100,175) 1px 2px;
    color: rgb(50,150,250);
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    width: 70%;
    margin: auto;
    text-align: center;
}

.leagueNavClass {
    width: 50%;
    margin: auto;
    background-color: cornsilk;
    display: flex;
    justify-content: space-around;
}

.registration {
    padding: 30px;
    width: 75%;
    margin: auto;
}

.regFormClass {
    border-radius: 2px;
    border-style: solid;
    border-color: rgb(35,35,35);
    border-width: 1px;
    padding: 10px;
    background-color: linen;
    width: 45%;
    margin: auto;
}

.tables {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.deadHeader {
    background-image: linear-gradient(to left bottom, darkgreen,silver,lime,grey,silver,grey,lime,silver,darkgreen);
}

.leftAlign {
    text-align: left;
}

.centerAlign {
    text-align: center;
    margin: auto;
}

.rightAlign {
    text-align: right;
}