<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pinball Juice - Contact Us</title>
	    <link rel="icon" href="../static/images/Logo_1x1.ico">
        <link rel="stylesheet" href="../static/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="../static/script.js"></script>
    </head>
    <body>
        <header>
            <h1 class="limeBorder">Pinball Juice Arcade & Juice Bar</h1>
            <div class="topnav">
                <span id="myLinks" class="allNavLinks">
                    <a id="homeNav" class="navLink" href="./index.html">Home</a>
                    <a id="foodMenuNav" class="navLink" href="./foodMenu.html">View our menu</a>
                    <a id="leagueNav" class="navLink" href="./league.html">League Info</a>
                    <a id="aboutNav" class="navLink" href="./about.html">About</a>
                    <a id="contactNav" class="navLink" href="./contact.html">Contact us</a>
                </span>
            </div>
        </header>
        <main>
            <div id="contact">
                <p>contact us</p>
            </div>
        </main>
    </body>

</html>