<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pinball Juice - League Registration</title>
        <link rel="icon" href="./static/images/Logo_1x1.ico">
        <link rel="stylesheet" href="./static/styles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="./static/script.js"></script>
    </head>
    <body>
        <main>
            <div class="headers, limeBorder">
                <p>Thank you for registering. Don't forget to check in when you arrive each week.</p>
            </div>
            <br>
            <button id="returnBtn">Return</button>
        </main>
    </body>
</html>